@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --background: #08131f;
    --foreground: #e0e0e0;
    --primary: #3b82f6;
    --muted: #1f1f2e;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  } */
}

@layer components {
  .section-padding {
    @apply py-16 px-4 sm:px-6 lg:px-8;
  }

  .container {
    @apply max-w-7xl mx-auto;
  }

  .heading-1 {
    @apply text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl;
  }

  .heading-2 {
    @apply text-3xl font-bold tracking-tight sm:text-4xl;
  }

  .heading-3 {
    @apply text-2xl font-bold tracking-tight sm:text-3xl;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
